$bg-color: rgb(46, 58, 70);
$bg-text: rgb(255, 255, 255);
$buttercup: #f2b71d;
$mineshaft: #252525;
$white: #fff;
$abbey: #4d5156;
$capecod: #373839;
$dovegray: #6b6b6b;
$silver: #bcbcbc;
$fuelyellow: #ebb024;
$blackhaze: #e4e7e7;